<div class="login-card p-shadow-8 p-p-4 p-m-4">
    <h2>{{ isLogin ? label.login.text : label.signup.text }}</h2>
    <form [formGroup]="form">
        <div class="p-field">
            <label>{{ label.auth.field1 }}</label>
            <input type="text" pInputText formControlName="username"
                [ngClass]="{'invalid': form.get('username')?.invalid && form.get('username')?.touched}" />
            <small *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="p-error">
                <span *ngIf="form.get('username')?.errors?.['required']">Email is required</span>
                <span *ngIf="form.get('username')?.errors?.['pattern']">Enter a valid email</span>
            </small>
        </div>

        <div class="p-field">
            <label>{{ label.auth.field2 }}</label>
            <input type="password" pInputText formControlName="password"
                [ngClass]="{'invalid': form.get('password')?.invalid && form.get('password')?.touched}" />
            <small *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="p-error">
                <span *ngIf="form.get('password')?.errors?.['required']">Password is required</span>
                <span *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 6 characters</span>
                <span *ngIf="form.get('password')?.errors?.['pattern']">Password must include 1 number & 1 special
                    character</span>
            </small>
        </div>

        <div class="button-group">
            <button *ngIf="isLogin" (click)="submit()">{{ label.login.text }}</button>
            <button *ngIf="!isLogin" (click)="submit()">{{ label.signup.text }}</button>
        </div>
    </form>

    <p style="margin-top:10px;">
        <a (click)="toggle()">
            {{ isLogin ? label.signup.desc : label.login.desc }}
        </a>
    </p>
</div>